src/conf/xml-resources/web-service-references/consumer1/wsdl/23.251.142.243_8080/Consumer/consumer1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://consumers/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://consumers/" name="consumer1">
<types>
<xsd:schema>
<xsd:import namespace="http://consumers/" schemaLocation="http://23.251.142.243:8080/Consumer/consumer1?xsd=1"/>
</xsd:schema>
</types>
<message name="test">
<part name="parameters" element="tns:test"/>
</message>
<message name="testResponse">
<part name="parameters" element="tns:testResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="invokeProvider">
<part name="parameters" element="tns:invokeProvider"/>
</message>
<message name="invokeProviderResponse">
<part name="parameters" element="tns:invokeProviderResponse"/>
</message>
<portType name="Consumer1">
<operation name="test">
<input wsam:Action="http://consumers/Consumer1/testRequest" message="tns:test"/>
<output wsam:Action="http://consumers/Consumer1/testResponse" message="tns:testResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://consumers/Consumer1/test/Fault/Exception"/>
</operation>
<operation name="invokeProvider">
<input wsam:Action="http://consumers/Consumer1/invokeProviderRequest" message="tns:invokeProvider"/>
<output wsam:Action="http://consumers/Consumer1/invokeProviderResponse" message="tns:invokeProviderResponse"/>
</operation>
</portType>
<binding name="Consumer1PortBinding" type="tns:Consumer1">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="test">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="invokeProvider">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="consumer1">
<port name="Consumer1Port" binding="tns:Consumer1PortBinding">
<soap:address location="http://23.251.142.243:8080/Consumer/consumer1"/>
</port>
</service>
</definitions>