src/conf/xml-resources/web-service-references/Provider4/wsdl/23.251.142.243_8080/Provider/Provider4.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://providers/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://providers/">

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="test" type="tns:test"/>

<xs:element name="testResponse" type="tns:testResponse"/>

<xs:complexType name="test">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="testResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>